/*****************TAG SELECTORS***************/
h1 {
    color:red;
    font-size: 60px;
}
img:hover{
    background-color: rgba(251, 255, 0, 0.644);    
}
/******************CLASS SLECTORS**************/
.bacon {
    background-color: green;
}
.broccoli {
    background-color: red;
}
/*****************ID SELECTORS****************/
#heading {
    color: blue;
}